@font-face {
    font-family: font-titles;
    src: url('../resources/fonts/Barlow-Regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: font-titles, serif;
}



/* NAVBAR */
nav{
    border-bottom: 2px rgb(216, 216, 216) solid;
    padding: 0px 40px !important;
}

nav li{
    margin: 20px;
    font-size: 18px;
}

nav li a{
    text-transform: uppercase;
}

.container-fluid a{
    font-family: font-titles, serif;
    font-weight: 800;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #5c00ad;
    font-size: 18px;
}


/* MAIN */
/* Main Home */
.main_home{
    background: black;
    color: white;
    height: 400px;
    padding: 60PX;
}

button{
    color: white;
    background-color: #2b006f;
    border: none;
    border-radius: 10px;
    padding: 10px 30PX;
    font-weight: 600;
}


/* FOOTER */
footer{
    font-size: 12px;
    margin: 20px 60px;
}

