@font-face {
    font-family: font-titles;
    src: url('../resources/fonts/Barlow-Regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: font-titles, serif;
}



/* NAVBAR */
nav{
    border-bottom: 2px rgb(216, 216, 216) solid;
    padding: 0px 40px !important;
}

nav li{
    margin: 20px;
    font-size: 18px;
}

nav li a{
    text-transform: uppercase;
}

.container-fluid a{
    font-family: font-titles, serif;
    font-weight: 800;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #005cb3;
    font-size: 18px;
}


/* MAIN */
/* Main Home */
.home_main{
    color: white;
    height: 600px;
    padding: 60PX;
    display: flex;
    align-items: center;
    background-image: url('../resources/space2.jpg');
    background-size: cover;
    background-position: center;
}
    
button{
    color: white;
    border: solid 1px white;
    background-color: #00000025;
    border-radius: 10px;
    padding: 10px 30PX;
    font-weight: 600;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.074);
}


/* Main Autor */
.autor_div{
    display: flex;
}

.autor_div_text{
    padding: 20px;
}

div img{
    width: 400px;
}


/* FOOTER */
footer{
    font-size: 12px;
    margin: 20px 60px;
}

